<!-- Main Donation Form START -->
	<div id="main">
	<div>
    <div>
  
<div style="float: right; padding: 0px; margin: 0px;">

<form class="contrib" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div style="margin:0 1em 0 .5em; border: 2px solid #aaa; padding: 1em; float: left; background-color: #fafafa; clear: left; cursor: default;">

<input type="hidden" name="business" value="donate@xbmc.org" />
<input type="hidden" name="item_name" value="One time donation" />
<input type="hidden" name="item_number" value="DONATE" />
<input type="hidden" name="no_note" value="0" />
<input type="hidden" name="cmd" value="_xclick" />
<input type="hidden" name="on1" value="Comment" />
<input type="hidden" name="lc" value="en" />
<input type="hidden" name="on0" value="Anonymity" />

<table style="background-color: transparent; width: 280px;" cellpadding="5">
<tr>
<td width="30%"><label for="don-amount"><b>One time gift of</b></label></td>
<td width="70%">
<input type="text" name="amount" id="don-amount" maxlength="30" size="5" />
<select name="currency_code">
<option value="USD" selected="selected">$ (USD)</option>
</select>
</td></tr>
<tr>
<td width="30%" valign="top"><b>Public donor list</b></td>
<td width="70%">
<input type="radio" name="os0" id="name-yes" value="Mention my name" />
<label for="name-yes">List my name</label><br/>
<input type="radio" name="os0" id="name-no" checked="checked" value="Don\'t mention my name" />
<label for="name-no">List anonymously</label>
</td></tr>
<tr>
<td width="30%"><input class="centered" type="submit" value="Donate Now!" onclick="_gaq.push(['_trackEvent', 'Donations', 'Submit button pressed'])" /></td>
</tr>
<tr>
<td width="70%" colspan="2"><img src="http://upload.wikimedia.org/wikipedia/foundation/7/78/Credit_cards.png" alt="Visa, MasterCard, Discover, American Express, eCheck" /></td>
</tr>
</table>
</div>
</form>
</div>

				<p><b>Why donate money?</b> XBMC is free, open source software that requires no payment to download or use. It is funded by donations from its users and sponsorship from commercial companies. It is our aim to be entirely self-sufficient as an organization which will allow us to improve the software year after year.</b>

				<p><b>How is the money used?</b> The money is used to finance the non-profit XBMC foundation. This covers things like developer conferences, travel expenses, web hosting and occasional developer hardware</b>

				<p><b>How much should you give?</b> This is entirely up to you, give what you think the software is worth, or maybe just a donation to help us along. Large or small, all donations contribute to the success of the project.</b>

				<p><b>What do I get in return?</b> We currently give any donator who contributes over $50 a special badge on the forum for being a "supporter". We also list your name on the donations page.
				
				
  </div>
  </div>

</div>
<!-- main END -->